@{
    ViewData["Title"] = "Reseñas de Colchones";
}

<div class = "text-center">
    <h1 class = "display-4">Informacion sobre las reseñas</h1>
    <a class="nav-Link text-dark" asp-area="" asp-controller="Review" asp-action="Home">Página de Inicio</a>
</div>    
